.siteFooter {
  margin-top: 120px;
  padding: 2rem 1rem;
  width: 100%;
  background-color: #181818;
  color: white;
  font-size: 16px;
  line-height: 28px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.siteFooter h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.siteFooter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.siteFooter li {
  margin-bottom: 10px;
}

.siteFooter a {
  color: white;
  text-decoration: none;
}

.siteFooter a:hover {
  text-decoration: underline;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.socialIcons svg {
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.socialIcons svg:hover {
  transform: scale(1.2);
}

.howToApply {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.howToApply p {
  margin-top: 0;
}

.footerFAImage {
  border-radius: 2px;
}

.footerApplyLink {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
}

.footerApplyLink svg {
  transition: all .2s ease-in-out;
}

.footerApplyLink:hover svg {
  transform: translate(2px, -3px);
}

@media screen and (min-width: 767px) {
  .siteFooter {
    margin-top: 180px;
    padding: 2rem 1rem 60px;
  }

  .wrapper {
    flex-direction: row;
  }

  .wrapper > div {
    flex: 1;
  }

  .wrapper > .howToApplyWrapper {
    flex: 1.5;
  }
}